.authform__linktosignin {
    margin: 15px 0 0;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.authform__linktosignin:hover {
    opacity: 0.6;
}

@media screen and (max-width: 767px) {
    .authform__linktosignin {
        margin: 20px 0 0;
    }
}