@import url(./vendor/normalize.css);
@import url(./vendor/fonts.css);
@import url(./blocks/page/page.css);
@import url(./blocks/root/root.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__info/header__info.css);
@import url(./blocks/header/__email/header__email.css);
@import url(./blocks/header/__signout/header__signout.css);
@import url(./blocks/header/__mobilemenu/header__mobilemenu.css);
@import url(./blocks/header/__info/_mobile/header__info_mobile.css);
@import url(./blocks/header/__email/_mobile/header__email_mobile.css);
@import url(./blocks/header/__info/_fullscreen/header__info_fullscreen.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__edit/profile__edit.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__subtitle/profile__subtitle.css);
@import url(./blocks/profile/__title/profile__title.css);
@import url(./blocks/profile/__add/profile__add.css);
@import url(./blocks/profile/__avatar-link/profile__avatar-link.css);
@import url(./blocks/cards/cards.css);
@import url(./blocks/cards/__card/cards__card.css);
@import url(./blocks/cards/__delete/cards__delete.css);
@import url(./blocks/cards/__title/cards__title.css);
@import url(./blocks/cards/__like/cards__like.css);
@import url(./blocks/cards/__delete/_visible/cards__delete_visible.css);
@import url(./blocks/cards/__fullphoto/cards__fullphoto.css);
@import url(./blocks/cards/__like-fullinfo/cards__like-fullinfo.css);
@import url(./blocks/cards/__like-counter/cards__like-counter.css);
@import url(./blocks/cards/__like-counter/_visible/cards__like-counter_visible.css);
@import url(./blocks/cards/__description/cards__description.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__text/popup__text.css);
@import url(./blocks/popup/__text/-error/popup__text-error.css);
@import url(./blocks/popup/__text/_type/popup__text_type_error.css);
@import url(./blocks/popup/__save/popup__save.css);
@import url(./blocks/popup/__save/_disabled/popup__save_disabled.css);
@import url(./blocks/popup/__icon/popup__icon.css);
@import url(./blocks/popup/__notification/popup__notification.css);
@import url(./blocks/popup/__close/popup__close.css);
@import url(./blocks/popup/__image/popup__image.css);
@import url(./blocks/popup/__inputarea/popup__inputarea.css);
@import url(./blocks/popup/__subtitle/popup__subtitle.css);
@import url(./blocks/popup/_type/popup_type_image.css);
@import url(./blocks/popup/__container/_type/popup__container_type_deletecard.css);
@import url(./blocks/popup/__container/_type/popup__container_type_profileUpdate.css);
@import url(./blocks/popup/__container/_type/popup__container_type_image.css);
@import url(./blocks/popup/__container/_type/popup__container_type_reg.css);
@import url(./blocks/popup/__title/_type/popup__title_type_deletecard.css);
@import url(./blocks/popup/__container/_type/popup__container_type_edit.css);
@import url(./blocks/popup/__infosave/popup__infosave.css);
@import url(./blocks/cards/__like/_active/cards__like_active.css);
@import url(./blocks/popup/__title/_type/popup__title_type_addcard.css);
@import url(./blocks/popup/__container/_type/popup__container_type_addcard.css);
@import url(./blocks/popup/_visible/popup_visible_on.css);
@import url(./blocks/authform/authform.css);
@import url(./blocks/authform/__title/authform__title.css);
@import url(./blocks/authform/__inputarea/authform__inputarea.css);
@import url(./blocks/authform/__text/authform__text.css);
@import url(./blocks/authform/__save/authform__save.css);
@import url(./blocks/authform/__linktosignin/authform__linktosignin.css);
@import url(./blocks/authform/__signswitch/authform__signswitch.css);
@import url(./blocks/authform/__signswitch/_toup/authform__signswitch_toup.css);