.header {
    margin: 0px auto;
    padding-top: 45px;
    border-bottom: 1px solid rgb(84,84,84, 0.7);
    display: flex;
    justify-content: space-between;
    position: relative;
}

@media screen and (max-width: 767px) {
    .header {
        margin: 0px auto;
        padding-top: 28px;
        max-width: 320px;
    }
}